<div class="container-fluid">

    <div class="container-fluid animated fadeIn fast mt-4">



        <div class="container-fluid animated fadeIn  py-5 border rounded-5" style="background-color: rgb(103, 186, 144);">
            <div class="row">
                <div class="col" style="margin-left: 180px;">
                    <h1 class=" display-6 fw-bold">Bienvenido a YourInventory
                    </h1>
                    <p class="col-md-12 fs-5 mt-3">
                        ¡Bienvenido a <strong>YourInventory</strong> nuestro sitio web de inventario en línea! En este espacio, te ofrecemos una solución práctica y eficiente para acceder y visualizar el inventario disponible de una manera rápida y sencilla.
                        Nuestro objetivo es brindarte una experiencia cómoda y satisfactoria mientras exploras los productos que tenemos para ofrecerte.</p>
                    <button *ngIf="Token !== '' " type="button" [routerLink]="['/MyInventory']" routerLinkActive="router-link-active" class="btn btn-outline-secondary mt-2">Ver
                            Inventario Disponible!</button><button *ngIf="Token === '' " type="button" [routerLink]="['/log-in']" routerLinkActive="router-link-active" class="btn btn-outline-secondary mt-2">
                                Iniciar Sesión! </button>
                </div>
                <div class="col">
                    <div class="container-fluid animated fadeIn ">



                        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="https://png.pngtree.com/png-vector/20191027/ourmid/pngtree-delivery-checklist-icon-for-your-project-png-image_1877140.jpg" height=" 310px" width="300px" class="marginphoto">
                                </div>
                                <div class="carousel-item">
                                    <img src="https://png.pngtree.com/png-vector/20191026/ourmid/pngtree-delivery-checklist-icon-for-your-project-png-image_1871231.jpg" height=" 310px" width="300px" class="marginphoto">
                                </div>
                                <div class="carousel-item">
                                    <img src="https://png.pngtree.com/png-vector/20191027/ourmid/pngtree-delivery-checklist-icon-for-your-project-png-image_1877304.jpg" height=" 310px" width="300px" class="marginphoto">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>

            </div>

        </div>



    </div>

    <div class="row animated fadeIn ">

        <div class="col " style="margin-left: 40px; margin-top: 20px;">


            <div class="container-fluid animated fadeIn fast p-2 mb-4  py-5 border rounded-3" style="background-color: rgb(103, 186, 144);">

                <div class="container">
                    <div class="row">
                        <div class="col">
                            <img src="https://media.istockphoto.com/id/1030355148/es/vector/hombre-mantenga-portapapeles-de-registro-con-la-lista-de-verificaci%C3%B3n-hombre-de-la-mano.jpg?s=612x612&w=0&k=20&c=P0_veDT3x1HB1CDImevL2nJUzWVf0iE7FSlQbjYyfXQ=" height="100px" width="180px"
                                style="margin-left: 80px; border-radius: 10%;" alt="">
                        </div>
                        <div class="col">
                            <h4 class="fw-bold mt-3" style="margin-right:10%">¡Únete a Nostros! ¡Registrate!</h4>
                        </div>
                    </div>





                </div>

                <p lass="col-md- fs-5 mt-3" style="margin-left: 2%; margin-top: 20px">¡Únete a nuestra comunidad registrándote ahora mismo! Al hacer clic en el botón, podrás formar parte de nuestro grupo y acceder a beneficios exclusivos. Regístrate hoy y descubre todo lo que nuestra comunidad tiene para ofrecerte: conexiones
                    con personas afines, contenido exclusivo, eventos emocionantes y mucho más. No te pierdas esta oportunidad de ser parte de algo especial. ¡Únete ahora y comienza a disfrutar de todos los privilegios que nuestra comunidad tiene reservados
                    para ti! </p>
                <button type="button" style=" margin-left: 1%;" [routerLink]="['/record']" routerLinkActive="router-link-active" class="btn btn-outline-secondary mt-2">Registrarse ahora!</button>
            </div>

        </div>
        <div class="col" style="margin-right: 40px; margin-top: 20px;">


            <div class="container-fluid animated fadeIn fast p-5 mb-4 py-5 border rounded-3" style="background-color: rgb(103, 186, 144); ">
                <h4 class="fw-bold" style="margin-left: 10%; ;">¿Quienes somos? Informacion sobre YourInventory</h4>
                <p lass="col-md-12 fs-5 mt-3" style="margin-left: 2%; margin-top: 20px">¡Descubre más información sobre nuestro sitio web pulsando el botón! Al hacerlo, te adentrarás en un mundo de detalles y contenido relevante que te ayudará a comprender mejor nuestra propuesta. </p>
                <button type="button" style=" margin-left: 55%;" class="btn btn-outline-secondary mt-2">Informacion Sobre Nosotros!</button>
            </div>


        </div>

    </div>

</div>