<div class="container animated fadeIn fast">
    <div class="grid animated fadeIn ">
        <div class="gridAnidado1">
            <div class="divCol1">
                <div class="gridAnidado1-1">
                    <div>
                        <h3 class="TxtAdd"><strong>Mi Inventario</strong>
                            <hr>
                        </h3>
                    </div>
                    <div>
                        <div class="gridAnidado1-2">
                            <div class="divContaiinerGif"><img src="https://media0.giphy.com/media/llmpzJNFIHoCkwkB5c/200_s.gif"></div>
                            <div class="TxtAdd2">
                                <h3>Productos</h3>
                            </div>
                            <div class="TxtAdd2">Libros</div>
                            <div class="TxtAdd2">Ropa</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divCol2">
                <div class="gridAninado2">
                    <div>
                        <h3 class="TxtAdd2">Lista de Inventario</h3>
                    </div>
                    <div class="divScroll">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th scope="col">Codigo P</th>
                                    <th scope="col">Descrpcion</th>
                                    <th scope="col">Stock</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let dato of datos  ">

                                    <td>{{dato.code}}</td>
                                    <td>{{dato.description}}</td>
                                    <td>{{dato.stock}}</td>
                                    <td>{{dato.price}}</td>
                                    <td><button type="button" class="btn btn-primary" (click)="update(dato._id)"><i class="fa-solid fa-pen-to-square"></i></button>
                                        <button style="margin-left: 1em;" type="button" (click)="delete(dato._id)" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div><span><button type="button" class="btn btn-warning">Añadir
                                Nueva Coleccion </button></span><span style="margin-left: 20px;"><button type="button"
                                class="btn btn-primary" routerLink="/add-product">Crear Producto</button></span><span style="float: inline-end;"><button type="button"
                                routerLink="/home"
                                type="button" class="btn btn-danger">Salir</button></span></div>


                </div>
            </div>
        </div>
    </div>
</div>