<div class="container">
    <div class="grid">
        <div class="gridAnidado1">
            <div class="divCol1">
                <div class="gridAnidado1-1">
                    <div>
                        <h3 class="TxtAdd"><strong>Mi Inventario</strong>
                            <hr>
                        </h3>
                    </div>
                    <div>
                        <div class="gridAnidado1-2">
                            <div class="divContaiinerGif"><img src="https://media0.giphy.com/media/llmpzJNFIHoCkwkB5c/200_s.gif"></div>
                            <div class="TxtAdd2">
                                <h3>Productos</h3>
                            </div>
                            <div class="TxtAdd2">Libros</div>
                            <div class="TxtAdd2">Ropa</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divCol2">
                <div class="gridAninado2">
                    <div>
                        <h3 class="TxtAdd2">Lista de Inventario</h3>
                    </div>
                    <div>
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">#Producto</th>
                                    <th scope="col">Descrpcion</th>
                                    <th scope="col">Stock</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>3121321</td>
                                    <td>Teclado Inalanbrico</td>
                                    <td>10</td>
                                    <td>20.000</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                    <td>@mdo</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                    <td>@mdo</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div><span><button type="button" class="btn btn-warning">Añadir
                                Nueva Coleccion</button></span><span style="margin-left: 20px;"><button type="button"
                                class="btn btn-primary" routerLink="/add-product">Crear Producto</button></span><span style="float: inline-end;"><button type="button"
                                routerLink="/home"
                                type="button" class="btn btn-danger">Salir</button></span></div>
                </div>
            </div>
        </div>
    </div>
</div>